#editor{
    font-size: 20px;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    background-image: url("genkou.png");
    background-size: 200px;
    height: 40%;
}
